<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">Sobre mí</h5>
        <table class="seguitabla" width="100%" style="font-size: 8pt;">
            <tr><td>Nombre</td><td>: {{user.Nombre}}</td></tr>
            <tr><td>Apellido</td><td>: {{user.Apellidos}}</td></tr>
            <tr><td>Correo</td><td>: {{user.correo}}</td></tr>
            <tr><td>Pais</td><td>: {{user.pais}}</td></tr>
            <tr><td>Ciudad</td><td>: {{user.ciudad}}</td></tr>
            <tr><td>Identificador</td><td>: A34k8LL2a</td></tr>
         </table>
      </div>
    </div>
  </div>
</div>