<div class="card mb-2 border-transparent">
  <div class="row p-0">
    <div class="col-md-3 my-auto">
      <img class="fotoperfil" src="/usuarios/{{user.nombreuser}}/{{user.imagen}}">
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h4 class="card-title text-dark text-center">{{user.nombreuser}}</h4>
        <p class="card-text text-dark descperfil">{{user.Descripcion}}</p>
        <!--<p class="card-text"><small class="text-muted">Rol : {{user.rol}}</small></p>-->
      </div>
    </div>
  </div>
</div>